--
-- PostgreSQL database dump
--

\restrict 0FXhpCcOaeShd37scFHgNreVfDne5nEhUIZp6o5XQdpJjk7HBLQU1qIYb4Df4r0

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: candidate_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.candidate_status_enum AS ENUM (
    'pending',
    'screened',
    'interviewing',
    'hired',
    'rejected'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candidate; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.candidate (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "basicInfo" jsonb NOT NULL,
    skills text[] DEFAULT '{}'::text[] NOT NULL,
    score numeric(3,0) DEFAULT '0'::numeric NOT NULL,
    "scoreBreakdown" jsonb NOT NULL,
    status public.candidate_status_enum DEFAULT 'pending'::public.candidate_status_enum NOT NULL,
    "resumeUrl" character varying NOT NULL,
    notes character varying,
    "uploadedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: education; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.education (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    school character varying NOT NULL,
    major character varying NOT NULL,
    degree character varying NOT NULL,
    "graduationDate" character varying NOT NULL,
    "candidateId" uuid
);


--
-- Name: job; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(50) NOT NULL,
    description text NOT NULL,
    required_skills text[] DEFAULT '{}'::text[] NOT NULL,
    plus_skills text[] DEFAULT '{}'::text[] NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: work_experience; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.work_experience (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company character varying NOT NULL,
    "position" character varying NOT NULL,
    period character varying NOT NULL,
    description character varying NOT NULL,
    "candidateId" uuid
);


--
-- Name: job PK_98ab1c14ff8d1cf80d18703b92f; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job
    ADD CONSTRAINT "PK_98ab1c14ff8d1cf80d18703b92f" PRIMARY KEY (id);


--
-- Name: candidate PK_b0ddec158a9a60fbc785281581b; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT "PK_b0ddec158a9a60fbc785281581b" PRIMARY KEY (id);


--
-- Name: education PK_bf3d38701b3030a8ad634d43bd6; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT "PK_bf3d38701b3030a8ad634d43bd6" PRIMARY KEY (id);


--
-- Name: work_experience PK_d4bef63ad6da7ec327515c121bd; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.work_experience
    ADD CONSTRAINT "PK_d4bef63ad6da7ec327515c121bd" PRIMARY KEY (id);


--
-- Name: work_experience FK_289c284fb9da2e114507bc85e16; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.work_experience
    ADD CONSTRAINT "FK_289c284fb9da2e114507bc85e16" FOREIGN KEY ("candidateId") REFERENCES public.candidate(id) ON DELETE CASCADE;


--
-- Name: education FK_34db91aa56a1fe86c0519b045ff; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT "FK_34db91aa56a1fe86c0519b045ff" FOREIGN KEY ("candidateId") REFERENCES public.candidate(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 0FXhpCcOaeShd37scFHgNreVfDne5nEhUIZp6o5XQdpJjk7HBLQU1qIYb4Df4r0

